.popup__button_disabled {
  font-size: 14px;
  line-height: 17px;
  all: unset;
  margin-top: 20px;
  background-color: none;
  width: 100%;
  height: 46px;
  color: rgba(0, 0, 0, 0.2);
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  transition: opacity ease-in-out 0.2s;
}

@media screen and (min-width:1000px) {
  .popup__button_disabled  {
    height: 50px;
    margin-top: 20px;
    font-size: 18px;
    line-height: 22px;
  }
}
