.popup-profile__container {
  width: 88%;
  height: 322px;
  max-width: 430px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  color: #000;
  position: relative;
}

@media screen and (min-width:1000px) {
  .popup-profile__container {
    height: 330px;
  }
}
